.fileInput{
	display: block;
	height:1px;
	overflow: hidden;
	opacity: 0;
	filter:alpha(opacity=0);
}
.previewBox{
	margin:15px 0;
}
.previewBox img{
	margin-right:10px;
}
.uploadBtn{
	border:1px solid #eee;
	background: #fff;
	color:#666;
	font-size: 16px;
	line-height: 1.6;
	padding:6px 15px;
}